﻿@using Core.Configuration;

@{ 
    var cs = (ConfigurationService)Model;
    var view = (View)cs.GetCurrentView();
}

<h2>@cs.GetCurrentBusinessProcess().Name \ @cs.GetCurrentWorkflow().Name \ @cs.GetCurrentStep().Name</h2>

<form method="post" action="/Request">

    <input type="hidden" name="Id" value="@ViewBag.Model.Id" />

    @foreach (var vi in view.Items)
    {
        <div class="row">
            @RenderPage($"~/Views/Controls/{vi.Value.Name}.cshtml", ViewData.Model)
        </div>
    }

    <div class="row">
        <p><a class="btn btn-default" onclick="document.forms[0].submit(); return false;">Save</a></p>
    </div>

    @RenderPage($"~/Views/Controls/ActionButtons.cshtml", ViewData.Model)

</form>
