﻿@using Core.Configuration;

@{
    var cs = (ConfigurationService)Model;
    var view = (View)cs.GetCurrentView();
}

<div class="row">
    @foreach (var a in cs.GetCurrentStep().Actions)
    {
        <p><a class="btn btn-default" href="/Workflow/DoAction?Name=@a.Value.Name">@a.Value.Caption</a></p>
    }
</div>
